html, body {
  background: url(/images/dogs-cropped.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login, input {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.home-component {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  float: right;
  padding-top: 100px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > app > .container {
  padding: 60px 15px 0;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
