      <!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/images/paw-full.png"/>
    <small class="text-muted">Animal Identification System</small>
  </a>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div></div>
    <div>
      <ul class="navbar-nav text-right">
        <li class="nav-item active text-right">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="loginAction()"> {{loginText}}</a>
        </li>
        <li class="nav-item">
         <a class="nav-link disabled" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <home-component [hidden]="isHidden()" class="home-component"></home-component>
  <router-outlet class="lead"></router-outlet>
</div>

<footer class="footer mx-auto">
  <div class="container">
    <div class="text-muted">
      &copy; {{copywrite}} Animal Identification System
    </div>
  </div>
</footer>
