<div class="inner cover">
    <h1>Welcome <a [routerLink]="['/profile', currentUser.id]">{{currentUser.firstName}}</a>!</h1>
<!--     <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul> -->
    <h2>My Pets</h2>
    <div class="grid grid-pad">
      <a *ngFor="let pet of pets" [routerLink]="['/pet', pet.id]"  class="col-1-4">
        <div class="module pet">
          <h4>{{pet.name}}</h4>
        </div>
      </a>
    </div>
</div>