<div *ngIf="pet">
  <h1>{{pet.name}}'s Information</h1>
  <div>
    <label>name: </label>
    <input [(ngModel)]="pet.name" placeholder="name" />
  </div>
  <div>
    <label>gender: </label>
    <input [(ngModel)]="pet.gender" placeholder="gender" />
  </div>
  <div>
    <label>breed: </label>
    <input [(ngModel)]="pet.breed" placeholder="breed" />
  </div>
  <div>
    <label>color: </label>
    <input [(ngModel)]="pet.color" placeholder="color" />
  </div>
  <div>
    <label>birthdate: </label>
    <input [(ngModel)]="pet.birthdate" placeholder="birthdate" />
  </div>
  <div>
    <label>weight: </label>
    <input [(ngModel)]="pet.weight" placeholder="weight" />
  </div>
  <div>
    <label>image: </label>
    <input [(ngModel)]="pet.image" placeholder="image" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
